@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    background-color: var(--background-primary);
  }
  .bg-secondary {
    background-color: var(--background-secondary);
  }
  .bg-accent-primary {
    background-color: var(--accent-primary);
  }
  .bg-accent-secondary {
    background-color: var(--accent-secondary);
  }

  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .text-accent-primary {
    color: var(--accent-primary)
  }
  .text-accent-secondary {
    color: var(--accent-secondary);
  }
}
